# General modules 
Django==4.2
python-decouple==3.8
pillow
djangorestframework


# Third party modules   
django-filter
drf-yasg[validation]
djangorestframework-simplejwt



# Background process and cache
celery
redis