# General modules 
Django==4.2
python-decouple==3.8
pillow
djangorestframework


# Third party modules   
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

# email third party modules
django-mail-templated

django_celery_beat


# Background process and cache
celery
redis