{% extends 'base.html' %}

{% block title %}Task Detail{% endblock %}
{% block content %}
    <div class="task-container">
        <h2>{{ object.title }}</h2>
        <ul class="task-details">
            <li><strong>Author:</strong> {{ object.author }}</li>
            <li><strong>Created At:</strong> {{ object.created_at|date:"Y-m-d H:i" }}</li>
            <li><strong>Description:</strong> {{ object.description }}</li>
            <li><strong>Status:</strong> {% if object.completed %} ✅ Completed {% else %} ⏳ Pending {% endif %}</li>
        </ul>
    </div>
{% endblock %}